footer
  p &copy; Maxime Mouquet 2018
  p Web design : Morganne Borowczyk
  p Photographie : ?
  
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="assets/js/script.js")
