nav 
  ul
    li(class=(page == "home" ? "active" : ""))
      - if (page == "home" ? "active" : "")
        | Accueil
      - else
        a(href="home.html")
          span Accueil
    li(class=(page == "projects" ? "active" : ""))
      - if (page == "projects" ? "active" : "")
        | Enregistrements
      - else
        a(href="projects.html")
          span Enregistrements
    li(class=(page == "gigs" ? "active" : ""))
      - if (page == "gigs" ? "active" : "")
        | Concerts
      - else
        a(href="gigs.html")
          span Concerts
    li(class=(page == "contact" ? "active" : ""))
      - if (page == "contact" ? "active" : "")
        | Contact
      - else
        a(href="contact.html")
          span Contact
