//main:app.scss

header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 5em;
  .logo {
    font-family: $font-accent;
    font-size: 1.5em;
    font-weight: normal;
    white-space: nowrap;
    margin: 0;
  }
  .home & {
    justify-content: center;
    background-image: url(../images/photos/portrait_live.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding: 5em;
    height: 100vh;
    text-align: center;
    li {
      &.active {
        color: $color-white;
        &:after {
          background-color: $color-white;
        }
      }
    }
    h1 {
      font-size: 5em;
      color: $color-white;
    }
    a {
      color: $color-white;
      border-bottom: 0px;
      &:before {
        content: "";
        display: block;
        position: absolute;
        background-color: $color-white;
        transition: .5s ease;
        border-radius: 0 50px;
      }
      &:hover {
        color: $color-black;
        border-bottom: 0px;
      }
    }
  }
  @media screen and (max-width: $breakpoint-mobile) {
    .home & {
      h1 {
        font-size: 3em;
      }
    }
  }
}
