//main:app.scss

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-white;
  .wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0 2em 3em;
    max-width: 900px;
    @media screen and (max-width: $breakpoint-tablet) {
      max-width: 700px;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      max-width: 100%;
    }
  }
}
img {
  max-width: 100%;
}

.content {
  p:first-of-type::first-letter {
    color: $color-accent;
    font-family: $font-accent;
    font-size: 4.1em;
    float: left;
    line-height: 1;
    margin: 0 5px 0 0;
  }
  img {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

.project-list {
  ul {
    list-style: none;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  li {
    width: 30%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    margin-bottom: 3em;
    .image-wrapper {
      img {
        display: block;
      }
    }
    .text-wrapper {
      border: 1px solid $color-grey-light;
      border-top: 0;
      padding: 1em;
      h3 {
        font-weight: bold;
      }
      h3,
      h4 {
        font-size: 1em;
        line-height: 1;
        margin: 0 0 0.5em;
        text-align: center;
        font-family: $font-regular;
        text-transform: uppercase;
      }
      p {
        color: $color-grey;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}
