//main:app.scss

$font-regular: 'Raleway', sans-serif;
$font-accent: 'Titania', 'Georgia', serif;

$color-white: #FFFFFF;
$color-grey-light: #CCCCCC;
$color-grey: #AAAAAA;
$color-black: #000000;
$color-accent: #FEA65E;

$link-border: 2px solid $color-accent;

$grid-size: 16px;

$margin-default: 2em;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 1200px;
