//main:app.scss

$font-regular: 'Open Sans', sans-serif;
$font-accent: 'Kankin', serif;

$color-white: #FFFFFF;
$color-black: #000000;
$color-accent: #FFB604;

$link-border: 2px solid $color-accent;

$grid-size: 16px;

$margin-default: $grid-size * 2;
