doctype
html(lang="en")
  block var
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=title
    link(rel="stylesheet", href="assets/style/app.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Abril+Fatface")
  body(class=page)
    .wrap
      include blocs/_header.jade
        block content                  
      include blocs/_footer.jade
