//output:../home.html, pretty:true
extend _layout.jade
block var
  - page = "home"
  - title = "Maxime Mouquet"

block content
  .content
  
    h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, commodi.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sint pariatur maiores nisi praesentium, eveniet repellat dicta illo! Molestias, maxime inventore saepe aspernatur tenetur aperiam omnis. Qui natus, dolorum est?
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sint pariatur maiores nisi praesentium, eveniet repellat dicta illo! Molestias, maxime inventore saepe aspernatur tenetur aperiam omnis. Qui natus, dolorum est?
    
    h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, commodi.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sint pariatur maiores nisi praesentium, eveniet repellat dicta illo! Molestias, maxime inventore saepe aspernatur tenetur aperiam omnis. Qui natus, dolorum est?
    
    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, commodi.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sint pariatur maiores nisi praesentium, eveniet repellat dicta illo! Molestias, maxime inventore saepe aspernatur tenetur aperiam omnis. Qui natus, dolorum est?
    
    h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, commodi.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sint pariatur maiores nisi praesentium, eveniet repellat dicta illo! Molestias, maxime inventore saepe aspernatur tenetur aperiam omnis. Qui natus, dolorum est?
    
    h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, commodi.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sint pariatur maiores nisi praesentium, eveniet repellat dicta illo! Molestias, maxime inventore saepe aspernatur tenetur aperiam omnis. Qui natus, dolorum est?
    
    h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, commodi.    
    p Lorem ipsum dolor sit amet, consectetur <strong>strong</strong> <b>bold</b> adipisicing elit. Blanditiis repellendus ipsum repudiandae id autem <em>rem ea</em>. <i>Aperiam enim incidunt</i> officia laboriosam ea <a href="#">sunt, sit error aliquam</a> ab odio reiciendis repudiandae.
    
    ul
      li Lorem ipsum dolor sit amet.
      li Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita saepe dolores porro aspernatur in, inventore a! Vel itaque hic non pariatur odit quidem ipsum voluptas officia earum. Ex, quaerat veritatis.
      li Lorem ipsum dolor sit amet.
      
    ol
      li Lorem ipsum dolor sit amet.
      li Lorem ipsum dolor sit amet.
      li Lorem ipsum dolor sit amet.
